.counter-container {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .counter-text {
    font-size: 2.5em; /* Adjust font size here */
  }
  
  .counter-number {
    font-size: 3em; /* Adjust number font size here */
    margin-right: 15px;
  }

  .odometer {
    font-size: 3.5em;
    margin-right: 1.5rem;
  }

  @media (max-width: 767px) {
    .counter-container {
      top: 30%;
      left: 50%;
    }
  
    .odometer {
      font-size: .5em;
      margin-right: 1.5rem;
    }
  
    .counter-text {
      font-size: 0.8em;
      margin-left: 5px;
    }
  }
  
  @media (orientation: portrait) {
    .counter-container {
      top: 60%;
      left: 50%;
    }
  
    /* You can also adjust the font size based on orientation */
    .counter-text {
      font-size: 2.5em;
    }
  
    .counter-number {
      font-size: 3.5em;
      margin-right: 10px;
    }

    .odometer {
      font-size: 3em;
      margin-right: 1.5rem;
    }
  }
  